/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
 */

$pink-color: #ff7c71;

body {
  -webkit-font-smoothing: antialiased !important;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif !important;
  background-color: #f9f9f9 !important;

  background: url("blob-scene-light.svg") no-repeat;
  background-size: 100%;
}

body.dark-mode {
  background: url("blob-scene-dark.svg") no-repeat;
  background-size: 100%;
  color: #fff;

  nav a {
    color: #fff !important;
  }
}

.bg-pink {
  background-color: $pink-color !important;
}

.mt-7 {
  margin-top: 5rem !important;
}

.btn-pink {
  background-color: $pink-color !important;
  color: #fff !important;
}

.text-pink {
  color: $pink-color !important;

  a {
    color: $pink-color !important;
  }
}

input[type=checkbox] {
  border-color: $pink-color !important;
}

input:checked {
  background-color: $pink-color !important;
}

input:active, input:focus {
  border-color: $pink-color !important;
}

::selection {
  background-color: $pink-color !important;
  color: white !important;
}

.dropdown-toggle:hover {
  cursor: pointer !important;
}

.dropdown-menu li a:hover {
  background-color: rgba(255, 124, 113, 0.4) !important;
}